body {
    padding-top: 20px;
    padding-bottom: 20px;
}

.footer {
    padding-top: 19px;
    color: #777;
    border-top: 1px solid #e5e5e5;
    padding-left: 15px;
    padding-right: 15px;
}

@media (min-width: 768px) {
    .container {
        max-width: 730px;
    }
}

.container-narrow > hr {
    margin: 30px 0;
}

.jumbotron {
    text-align: center;
    border-bottom: 1px solid #e5e5e5;
}

.jumbotron .btn {
    font-size: 21px;
    padding: 14px 24px;
}

@media screen and (min-width: 768px) {
    .footer {
        padding-left: 0;
        padding-right: 0;
    }

    .jumbotron {
        border-bottom: 0;
    }
}

.instructions {
    width: 100%;
}
.instructions .pose {
    width: 30%;
    text-align: right;
    padding-right: 20px;
}

.fall-animation {
    transition: top 0.5s;
    transition-timing-function: ease-in;
}

.fall-slide {
    transition: left 0.5s;
    transition-timing-function: ease-out;
}