<div class="jumbotron">
  <h1>Myo Demo</h1>
  <p class="lead">
    <img src="images/myo-zoom.png" alt="Myo">
    <br>See instructions below
  </p>
  <p>
      <a class="btn btn-lg" ng-class="{'btn-success': !locked, 'btn-danger': locked}" ng-href="#" id="moveButton"style="position:relative;">
          <span ng-switch="locked">

            <span ng-switch-when="true">Locked!<span class="glyphicon glyphicon-remove"></span></span>
            <span ng-switch-when="false">Unlocked<span class="glyphicon glyphicon-ok"></span></span>
          </span>
      </a>
  </p>
</div>

<div class="row">
  <h4>Instructions</h4>
  <p>
      <table class="instructions">
        <tr>
            <td class="pose">Thumb_to_pinky</td>
            <td>Lock/Unlock</td>
        </tr>
      <tr>
            <td class="pose">Fingers_spread</td>
            <td>Move element</td>
        </tr>
      <tr>
            <td class="pose">Wave_in</td>
            <td>Move element to the left</td>
        </tr>
      <tr>
            <td class="pose">Wave_out</td>
            <td>Move element to the right</td>
        </tr>
      <tr>
            <td class="pose">Fist</td>
            <td>reset</td>
        </tr>
      </table>
  </p>

  <h4>ngMyo</h4>
  <p>
    ngMyo is an AngularJS module to help perform great control with Thalmic Myo Armband.
  </p>
</div>
